* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    outline: none;
}

button {
    cursor: pointer;
}

body {
    width: 400px;
    padding: 16px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    margin: 32px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

input,
.buttonRegister {
    padding: 4px;
    height: 40px;
    margin: 16px 0;
}

ul {
    list-style: none;
}

li {
    padding: 16px;
    background-color: #036767;
    color: #fff;
    margin-bottom: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comprado {
    background-color: #cccccc;
    color: #645c5c;
    text-decoration: line-through;
}

.borda-vermelha {
    border: 1px solid red;
}

.buttonDelete {
    background-color: #ccc;
    border: 0;
    color: #353333;
    padding: 4px;
}